<!DOCTYPE html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Video</title>


  <!-- 
    DEPENDENCIES 
  -->
  <script language="javascript" type="text/javascript" src="../static/js/jquery-1.9.1.js"></script>
  <script language="javascript" type="text/javascript" src="../static/js/jquery.url.js"></script>
  <script language="javascript" type="text/javascript" src="../static/js/handlebars-1.0.0-rc.3.js"></script>
  <script language="javascript" type="text/javascript" src="../static/js/flowplayer.js"></script>
  <script language="javascript" type="text/javascript" src="../static/js/flying-owl.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/css/flowplayer.minimalist.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/flying-owl.css" />


  <!-- 
    initialize flyingOwl 
  -->
  <script language="javascript" type="text/javascript" >
    $(document).ready(function() {
      $.flyingOwl.init()
      $.flyingOwl.video.init()
      $.flyingOwl.video.refreshView()
      
    })
  </script>


  <!-- 
    TEMPLATES 
  -->
  <script id="video-player-template" type="text/x-handlebars-template">
    <h2>{{title}} ({{youtube_id}}.mp4)</h2>
    <p><a href="../../../../kalite/static/khan-exercises/exercises/{{related_exercise.slug}}.html">Practice this topic<a/></p>
    <div class="player">
      <video data-engine="flash">
        <source type="video/mp4" src="../../../../content/{{youtube_id}}.mp4" />
      </video>
    </div>
  </script>


</head>
<body>

</body>
</html>
